<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<!--<head th:replace="layout :: site-head">-->
<!--    <title>Spring MVC Application</title>-->
<!--</head>-->

<header th:replace="layout :: logged-out"></header>

    <h2>Please login:</h2>
    <form th:action="@{/users/login}" th:method="post" th:object="${User}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
        <input type="submit" value="login"/>
    </form>

</html>